@keyframes loader {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}
.form {
  max-width: 202px;
}
.form__button {
}

.loader {
  display: none;
  justify-content: center;
  margin-bottom: 22px;
}

.loader_active {
  display: flex;
}

.loader__react {
  position: relative;
  width: 60%;
  height: 15px;
  border: 2px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 16px;
  overflow: hidden;
}

.loader__react::before {
  content: '';
  position: absolute;
  border-radius: 16px;
  left: 0%;
  top: 10%;
  bottom: 10%;
  width: 30%;
  background-color: #04396c;
  animation: loader 1.4s infinite both;
}
