.header {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: bold;
}

.header__logout-button {
  background-color: #000;
  color: #fff;
  padding: 2px 16px;
}

.header__logo-link {
  font-size: 32px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-size: 1.4rem;
  margin: 0 10px;
  color: gray;
  border-bottom: 1px solid transparent;
}
.header__link:hover {
 border-bottom: 1px solid gray;
}
.active {
  color: black;
  border-bottom: 1px solid black;
}

.header__link:last-child {
  margin: 0 0;
}