.header {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: bold;
}

.header__logout-button {
  background-color: #000;
  color: #fff;
  padding: 2px 16px;
}

.header__logo-link {
  font-size: 32px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-size: 1.4rem;
  /* margin-right: 16px; */
  margin: 0 10px;
  color: gray;
  border-bottom: 1px solid transparent;
}
/* .header__link:hover {
 border-bottom: 1px solid gray;
} */
.active {
  color: black;
  /* border-bottom: 1px solid black; */
}

.header__link:last-child {
  margin: 0 0;
}
/* https://habr.com/ru/post/434574/ */
.header__link { 
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(-45deg, white 10%, black 95%, white 10%);
  
  background-position: 0em 2em;
  background-repeat: no-repeat;
  background-size: 0% 10px;
}

.header__link:hover,
.header__link:focus {
  transition: background-size .6s ease-in-out 0.1s;
  background-size: 100% 10px;
  transition-delay: 0s;
}