@import url('../node_modules/normalize.css/normalize.css');
#root {
  /* position: absolute; */
  width: 100%;
  min-height: 100vh;
  height: max-content;
  font-family: 'Caveat';
  font-weight: normal;
  background-image: url('./static/images/fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
:root {
  font-size: 20px;
}