$avatar_side: 200px;

.settings {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  justify-content: center;
}

.settings__subtitles {
  margin: 0 0 36px;
}

.settings__user-title {
  text-align: left;
}

.settings__user-info {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.settings__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 32px;
}

.settings__server-message {
  margin: 0;
}

.settings__button-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.settings__input-file-button {
  margin: 0;
  font-size: 18px;
  padding: 16px 50px;
  margin-bottom: 32px;
}

.settings__button {
  font-size: 18px;
  padding: 16px 50px;
}

.settings__input-file {
  display: none;
}

.setting__wrapper-avatar {
  position: relative;
  width: $avatar-side;
  height: $avatar-side;
  cursor: pointer;
  margin-bottom: 32px;
}

.setting__custom-input {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 70px;
  height: 70px;
  left: calc((200px - 70px) / 2);
  bottom: 5%;
  border-radius: 50%;
  z-index: 4;
  transition: width 0.4s, height 0.4s, left 0.4s, bottom 0.4s;
}

.setting__wrapper-avatar:hover > .setting__custom-input {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.setting__custom-input::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.337 6.622c-.999-1.036-2.377-1.649-3.945-1.649h-7.89V4.88c0-1.177-.475-2.308-1.283-3.061a4.369 4.369 0 00-3.09-1.272H17.871a4.398 4.398 0 00-3.137 1.272 4.29 4.29 0 00-1.283 3.061v.094H5.608c-1.568 0-2.946.613-3.944 1.649C.664 7.612 0 9.024 0 10.532v23.456c0 1.554.618 2.92 1.663 3.91.999.988 2.424 1.648 3.945 1.648h38.784c1.568 0 2.946-.612 3.944-1.649.999-.989 1.664-2.402 1.664-3.91V10.532c0-1.554-.618-2.92-1.663-3.909zm-.809 27.366h-.047a3.01 3.01 0 01-.903 2.167c-.57.565-1.33.895-2.186.895H5.608c-.855 0-1.616-.33-2.186-.895a3.01 3.01 0 01-.903-2.167V10.53c0-.847.333-1.601.903-2.166a3.065 3.065 0 012.186-.895h9.173c.713 0 1.284-.565 1.284-1.272V4.832c0-.518.19-.989.522-1.319.333-.33.808-.518 1.331-.518H32.13c.523 0 .998.189 1.331.518.333.33.523.801.523 1.32v1.365c0 .707.57 1.272 1.283 1.272h9.173c.856 0 1.616.33 2.187.895a3.01 3.01 0 01.903 2.166v23.457z' fill='%23fff'/%3E%3Cpath d='M25 10.673a11.766 11.766 0 00-8.27 3.391 11.442 11.442 0 00-3.422 8.196c0 3.203 1.33 6.123 3.422 8.195A11.652 11.652 0 0025 33.848c3.232 0 6.179-1.32 8.27-3.392a11.443 11.443 0 003.422-8.195c0-3.203-1.33-6.123-3.422-8.196A11.766 11.766 0 0025 10.673zm6.464 18.04C29.801 30.314 27.519 31.35 25 31.35c-2.519 0-4.8-1.036-6.464-2.637a8.963 8.963 0 01-2.661-6.406c0-2.496 1.045-4.757 2.661-6.406A9.128 9.128 0 0125 13.263c2.52 0 4.8 1.037 6.464 2.638a8.964 8.964 0 012.662 6.406c.047 2.496-.998 4.757-2.662 6.406zM41.92 15.241a2.318 2.318 0 002.33-2.307 2.319 2.319 0 00-2.33-2.308 2.319 2.319 0 00-2.329 2.308 2.318 2.318 0 002.33 2.307z' fill='%23fff'/%3E%3C/svg%3E");
  width: 50px;
  height: 40px;
  bottom: calc((100% - 40px) / 2);
  left: calc((100% - 50px) / 2);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 6;
  padding: 8px;
  box-sizing: border-box;
}

.settings__password-wrapper {
  align-self: center;
}

@keyframes loader-animations {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings__loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 8px solid #000;
  border-bottom-color: transparent;
  animation: loader-animations 1s infinite;
}
